<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noah Roberts</title>
    <link rel="icon" type="image/svg+xml" href="img/favicon.svg">
    <link rel="stylesheet" href="styles/styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="javascript/snap.svg.js"></script>
    <script src="javascript/lineCluster.js"></script>
    <script src="javascript/home.js"></script>
  </head>
  <body>
    <div id="overlay" class="content-wrapper card">
      <div id="content">
        <ul id="menu">
          <menu-item
            v-for="item in menuItems"
            v-bind:menu="item"
            v-bind:key="item.id">
          </menu-item>
        </ul>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="mainSVG"></svg>
  </body>
</html>
