#header {
    font-family: 'Playfair Display', serif;
    text-align: center;
    width: 900px;
    margin: 15px auto;
}

input[type=text] {
    border: 1px solid rgba(0,0,0,0.1);
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#buttonWrapper {
    display: inline-block;
    line-height: 40px;
}

#desc {
    margin: 0 auto;
    width: 600px;
    text-align: justify;
    font-size: 14px;
    line-height: 15px;
}

#wrapper1 {
    display: flex;
}

.chart {
    padding: 5px 5px;
}

text {
    font-family: 'Roboto', sans-serif;
    text-anchor: middle;
    position: relative; 
    font-size: 11px;
}

#candy {
    display: hidden;
}

.axis path, .axis line {
    fill: none;
    stroke: slategray;
    shape-rendering: crispEdges;
}

.tooltip {	
    position: absolute;			
    text-align: center;	
    background-color: lightgray;		
    width: 125px;					
    height: 125px;					
    padding: 2px;				
    font: 12px sans-serif;				
    pointer-events: none;			
}

.tooltip span {
    display: block;
    line-height: 22px;
}

.tooltip .name {
    font-weight: bold;
}

.card {
    border: 1px solid rgba(0,0,0,0.02);
    border-radius: 3px;
    box-shadow:
      inset 0 1px 0 rgba(255,255,255,0.1),
      0 2px 2px rgba(0,0,0,0.05),
      0 0 4px 1px rgba(0,0,0,0.02);
  }
  
.button {
    width: 100px;
    height: 38px;
    /* position: ;  */
    margin: 2.5px;
    /* float:left; */
    bottom: 700px;
    left: 20px;
}

#details, #filter {
    position: absolute;
    visibility: hidden;
    left: 705px;
    top: 150px;
}

.axis {
    font-size: 13px;
}

.axis path,
.axis line {
    fill: none;
    display: none;
}

.label {
    font-size: 13px;
}

circle {
    stroke: #222222;
    stroke-width: 0.15px;
}
