/*
 * Stylesheet for noah-roberts.com
 * Inspired by Sol Lewitt's Wall Drawing 273
 *
 * Noah Roberts
*/

/************************
 GENERAL STYLING
*************************/

body {
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
}

h1 {
  font-size: 35px;
  color: #fc514b;
}

a {
  text-decoration: none;
  outline: none;
  color: #fc514b;
}

a:hover {
  text-decoration: underline;
}

.content-wrapper {
  position: absolute;
  width: 70vw; 
  margin: 0 15vw 0 15vw;
}

#content {
  position: relative;
}

#back {
  position: absolute;
  float: left;
  width: 15vw;
  height: 40px;
  margin: 2vh 2vw;
  border: 1px solid #fc514b;
  color: #fc514b;
  transition: all 0.25s;
}

#back div {
  position: absolute;
  top: 10px;
  width: 100%;
}

#back:hover {
  border-color: #ffdc00;
  color: #ffdc00;
}

.card {
  border: 1px solid rgba(0,0,0,0.02);
  border-radius: 4px;
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.1),
    0 2px 2px rgba(0,0,0,0.05),
    0 0 4px 1px rgba(0,0,0,0.02);
}

line {
  stroke-width:1;
  stroke-linecap:round;
}

.redLine {
  stroke:#fc514b;
}

.yellowLine {
  stroke:#ffdc00;
}

.blueLine {
  stroke:#504af9;
}

#social {
  position: absolute;
  width: 100%;
  padding-top: 50px;
}

#social svg {
  width: 25px;
  padding: 0 4px;
  fill: #181717;
  transition: all 0.25s;
}

#simpleicons-linkedin-icon:hover {
  fill: #0077B5;
}

#simpleicons-gitlab-icon:hover {
  fill: #E24329;
}

#simpleicons-github-icon:hover {
  fill: #302e2e;
}

#simpleicons-facebook-icon:hover {
  fill: #3B5998;
}

#simpleicons-instagram-icon:hover {
  fill: #E4405F;
}

#simpleicons-spotify-icon:hover {
  fill: #1ED760;
}

#simpleicons-lastfm-icon:hover {
  fill: #D51007;
}




/************************
 HOMEPAGE
************************/

#name {
  font-size: 50px;
  font-family: Helvetica, sans-serif;
  transition: all 0.5s;
  transform-origin: 50% 50%;
}

#name:hover {
  transform: scale(1.04);
  cursor: pointer;
}

#overlay {
  display: none; /* Hidden by default */
  width: 80vw;
  height: 50vh;
  margin: 20vh 10vw 30vh 10vw;
  background-color: #FFFFFF;
}

#menu {
  list-style-type: none;
  margin: 0 auto;  
  padding-top: 30px;
  padding-left: 0;
  width: 60vw;
}  

#menu li {  
   width: 60vw;
   height: 50px;
   padding-bottom: 30px;
}

#menu li a {
  display: block;
  height: 50px;
  text-decoration: none;
}

.menutext {
  display: inline-block;
  color: black;
  font-size: 18px;
  transition: all 0.4s;
}

#menu li a:hover .menuline svg line {
  animation: scale 0.4s linear forwards;
  transform-origin: center;
}

@keyframes scale {
  100% {
    transform: scaleX(20);
  }
}

#menu li a:hover .menutext {
  font-size: 22px;
  cursor: pointer;
}

/************************
 ABOUT ME
*************************/

#aboutme {
  width: 70vw;
  height: 95vh; 
  margin: 0 15vw 0 15vw;
}

#me {
  width: 15vw;
}

#contact {
  height: 5vh;
  margin: 1vh auto;
  font-size: 14px;
}

#contact a {
  color: black;
}

#desc {
  width: 30vw;
  margin: 1vh auto;
  text-align: left;
}

@media screen and (max-width: 768px) {
  #me {
    width: 40vw;
  }

  #desc {
    width: 70vw;
  }
}

/************************
 projects
*************************/

#proj-section {
  width: 40vw;
  margin: 1vh auto;
  text-align: left;
}

#projects {
  list-style-type: none;
  margin: 0 auto;  
  padding-top: 20px;
  padding-left: 0;
}

.project {
  padding-bottom: 25px;
}

.project a {
  display: block;
  text-decoration: none;
}

.projtitle {
  display: inline-block;
  color: black;
  font-size: 18px;
  transition: all 0.4s;
}

.projline {
  margin-top: -5px;
  stroke: #fc514b;
}

.projdesc {
  display: inline-block;
  padding-top: 4px;
  color: black;
  font-size: 14;
  height: 100%;
}

.tooltip {
  position: relative;
  display: inline-block;
  width: 50vw;
}

@media screen and (max-width: 768px) {
  .tooltip {
    width: 70vw;
    margin-left: -15vw;
  }
}

.tooltip .tooltipicon {
  visibility: hidden;
  width: 50px;

  /* Position the tooltip text */
  position: absolute;
  left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.project-gitlab-icon {
  fill: #E24329;
}

.project-github-icon {
  fill: #302e2e;
}

.project-video-icon {
  fill: #504af9;
}

.project-private-icon {
  fill: #fc514b;
}

.project-visualization-icon {
  fill: #504af9;
}

.project .tooltip:hover .projline svg line {
  animation: scale2 0.4s linear forwards;
}

@keyframes scale2 {
  100% {
    transform: scaleX(7.5);
  }
}

.project .tooltip:hover .projtitle {
  font-size: 20px;
}

.project .tooltip:hover .tooltipicon {
  visibility: visible;
  opacity: 1;
}

.gitlab:hover .projtitle {
  color: #E24329;
}

.gitlab:hover line {
  stroke: #E24329;
}

.github:hover .projtitle {
  color: #302e2e;
}

.github:hover line {
  stroke: #302e2e;
}

.video:hover .projtitle {
  color: #504af9;
}

.video:hover line {
  stroke: #504af9;
}

.private:hover a {
  cursor: auto;
}

.private:hover .projtitle {
  color: #fc514b;
}

.private:hover line {
  stroke: #fc514b;
}

/************************
 RESUME
*************************/
#resume {
  margin-right: 8vw;
  margin-left: 8vw;
}